@media only screen and (max-width: 700px) {
  /* Styles for mobile screens*/
  hr {
    margin: 0;
    padding: 0;
    height: 25px;
    width:100%;
    background-color: #000000;
    border-color: #000000;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
    height: 35px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

/* Style the links inside the navigation bar */
.topnav a {
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 55%;
  height: fit-content;
}

.topnav .logo {
  height: 20px; /* Set the desired height for your logo */
  width: auto; /* Maintain the aspect ratio */
  vertical-align: middle;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.figure{
  width: 100%;
  height:auto;
}

img, hr {
  margin: 0;
  padding: 0;
}


.box .headingtext{
  position: absolute;
  color: white;
  left: 20%;
  top: 17%;
  font-size: 200% ;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Arial;
  background-image: url('images- final assignment/final bg.jpg');
  background-size:cover;
  }


.header {
  text-align: center;
  padding: 32px;
}

.row {
  margin-top: -20%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 2%;
  margin-right: 2%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width:200%;
  height: 100%;
}

body, ul {
  margin: 0;
  padding: 0;
}

/* Style for the main navigation bar */
nav {
  background-color:#333;
  width: 100%;
  height: 20%;
}

/* Style for the main navigation list */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

/* Style for the main navigation items */
nav li {
  position: relative;
  padding: 10px;
  margin-right: 10px;
  margin-left: 2%;

}

/* Style for the sub-navigation list */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:#333;
}

/* Style for the sub-navigation items */
nav ul ul li {
  display: block;
}

/* Hover effect to display sub-navigation */
nav li:hover > ul {
  display: inherit;
}

a{
  color:white;
}

p{
  margin-left:7%;
  margin-right: 7%;
  font-size: 100%;
}

h1{
  font-family: monospace;
  font-size:200%;
  text-align: center;
  margin-left: -15%;
  margin-top: -10%;
}
.yalah1-1{
  margin-top: 8%;
  font-size: 150%;
  margin-right: 15%;
  margin-left: 1%;
}
.slideshow-img{
  width: 100%;
  height: 50%;
}
iframe {
  margin-left: 17%;
  margin-right:2%;
  width:240px;
  height:100px;
}

.slideshow{
  display: flex;
  overflow-x:auto;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 500px;
}


.column{
  width: 90%;
  height: 100%;
  margin: 60px auto;
  overflow: hidden;
}
.column img{
  width:100%;
  transition: 1s;
}

.column img:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.pagination {
  display: inline-block;
  font-size: 80%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.sector{
  margin-top:-65%;
}
.sector2{
  margin-top:-70%;
}
.sector3{
  margin-top:-70%;
}


}























@media only screen and (min-width: 700px) {
  /* Styles for bigger screens*/
hr {
  margin: 0;
  padding: 0;
  height:50px;
  width:100%;
  background-color: #000000;
  border-color: #000000;
}
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0%;
  width: 100%;
  
  
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: fit-content;
}

.topnav .logo {
  height: 40px; /* Set the desired height for your logo */
  width: auto; /* Maintain the aspect ratio */
  vertical-align: middle;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.figure {
  position: relative;
  text-align: center;
  width: 100%;
}

img, hr {
  margin: 0;
  padding: 0;
}


.box .headingtext{
  position: absolute;
  color: white;
  left: 20%;
  top: 70%;
  font-size: 100px ;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-image: url('images- final assignment/final bg.jpg');
  background-size:cover;
  }


.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 2%;
  margin-right: 2%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width:100%;
}

body, ul {
  margin: 0;
  padding: 0;
}

/* Style for the main navigation bar */
nav {
  background-color:#333;
}

/* Style for the main navigation list */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

/* Style for the main navigation items */
nav li {
  position: relative;
  padding: 10px;
  margin-right: 10px;
  margin-left: 2%

}

/* Style for the sub-navigation list */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color:#333;
}

/* Style for the sub-navigation items */
nav ul ul li {
  display: block;
}

/* Hover effect to display sub-navigation */
nav li:hover > ul {
  display: inherit;
}

a{
  color:white;
}

p{
  margin-left:20%;
  margin-right: 20%;
  font-size: 125%;
}

h1{
  font-family: monospace;
  font-size:40px;
  text-align: center;
}

iframe{
  width:600px;
  height:450px;
  margin-left: 30%;
}

.slideshow{
  display: flex;
  overflow-x:auto;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 500px;
}


.column{
  width: 300px;
  height: 500px;
  margin: 60px auto;
  overflow: hidden;
}
.column img{
  width:100%;
  transition: 1s;
}

.column img:hover{
  transform: scale(1.5);
  cursor: pointer;
}

.pagination {
  display: inline-block;
  margin-left: 37.5%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

}